.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
}
.carousel-indicators [data-bs-target]{
    background-color: #FDC830;
    background: -webkit-linear-gradient(to right, #f37335 #fdc830);
    background: linear-gradient(to right, #f37335 #fdc830);
    padding: 1px;
}
.carousel-item{
    margin-bottom: 80px;
}